.nav-menu {
    margin-bottom: 4vh;
}
.demopage-container {
    width: 1000px;
    height: 650px;
    overflow: auto;
    background-color: white;
    border: 1px solid #C6C6C6;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(125, 125, 125, 0.05);
  }


.demoPage {
    color: black;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.demoPage img{
    width: 90%;
    max-height: 280px;
padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;


}

.page-number {
    font-family: 'Metropolis', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: black;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}   

.page-text {
    font-family: 'Metropolis', sans-serif;
    font-weight: semibold;
    font-size: 18px;
    color: black;
    justify-content: left;
    align-items: left;
    text-align: left;   
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.3;
}