.demopage-container {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #C6C6C6;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(125, 125, 125, 0.05);
  }


.demoPage {
    color: black;
}

.demoPage img{
    width: 100%;
    max-height: 300px;

}

.page-number {
    font-family: 'Metropolis', sans-serif;
    font-weight: semibold;
    font-size: 14px;
    color: black;
    justify-content: left;
    align-items: left;
    text-align: left;
}   

.page-text {
    font-family: 'Metropolis', sans-serif;
    font-weight: semibold;
    font-size: 18px;
    color: black;
    justify-content: left;
    align-items: left;
    text-align: left;   
}